# 1  Print Numbers 1 to 10 using for loop.
 Hint: Use range()

In [3]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

# 2  Print the first 5 even numbers using while loop.
 Hint: Start from 2, keep incrementing by 2

In [12]:
x = 2
while x <= 10:
    print(x)
    x = x+2

2
4
6
8
10

# 3  Print each character of the string "Python" using a for loop

In [15]:
str1 = "Python"
for i in str1:
    print(i)

P
y
t
h
o
n

# 4  Sum of numbers from 1 to 50 using for loop.

In [18]:
sum = 0
for i in range(1,50+1):
    sum = sum + i
print(sum)

1275

# 5  Print numbers from 10 to 1 using a while loop (reverse counting).

In [23]:
x = 10
while x <= 10 and x > 0 :
    print(x)
    x = x -1

10
9
8
7
6
5
4
3
2
1

# 6  Print all multiples of 3 between 1 and 30 using a for loop.

In [26]:
for i in range(1,30+1):
    if i % 3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30

# 7  Ask the user to enter numbers until they type 0. Calculate the sum of all numbers entered.
 Hint: Use while loop and input()

In [29]:
sum = 0
while True:
    numbers = int(input("enter number"))
    sum = numbers + sum    
    if numbers == 0:
        break
print(sum)

enter number 5
enter number 6
enter number 5
enter number 0

16

# 8  Given a list: nums = [2, 4, 6, 8, 10], print the square of each number.

In [32]:
nums = [2, 4, 6, 8, 10]
squares=[]
for i in nums:
    i = i**2
    squares.append(i)
print(squares)

[4, 16, 36, 64, 100]

# 9  Count how many vowels are in a string using a for loop.
 Input: "hello world" â†’ Output: 3

In [38]:
inp = input("enter string")
count = 0
for i in inp:
    if i == 'a' or i=='e' or i =='i' or i=='o' or i=='u':
        count = count+1
print(count)

enter string hello world

3

# 10  Find the factorial of a number using a while loop.
 Hint: factorial = factorial * num

In [96]:
factorial = 1
num = int(input("enter number"))

while num >= 1:
    factorial = factorial * num
    num = num - 1
print(factorial)

enter number 4

24

# 11  Print the following pattern using loops (n = 5):
*
* *
* * *
* * * *
* * * * *

In [101]:
n = int(input("enter num"))
for i in range(1,n+1) :
    for j in range(1,i+1):
        print("*",end=" ")
    print()

enter num 5

*
* *
* * *
* * * *
* * * * *

# 12  Print this reverse triangle pattern (n = 4):
* * * *
* * *
* *
*

In [109]:
n = int(input("enter num"))
for i in range(n,0,-1) :
    for j in range(i,0,-1):
        print("*",end=" ")
    print()

enter num 4

* * * *
* * *
* *
*

# 13  Print a right-aligned triangle (n = 4):
   *
  * *
 * * *
* * * *

In [131]:
num = int(input("enter num"))
for i in range(1,num+1):
    for j in range(n-i):
        print(" ",end="")
    for k in range(i):
        print("* ",end="")
    print()

enter num 4

   *
  * *
 * * *
* * * *

# 14  Print number pyramid (n = 5):
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [14]:
n = int(input("enter n:"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

enter n: 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# 15  Ask the user for 5 inputs using a while loop and store them in a list. Then print the list.

In [27]:
x = 1
lst = []
while x <= 5 :
    n = int(input("enter no"))
    lst.append(n)
    x = x + 1
print(lst)

enter no 5
enter no 6
enter no 7
enter no 8
enter no 9

[5, 6, 7, 8, 9]

# 16  Create a for loop that breaks when it finds the number 7 in a list. Print "Found!" and stop.
 	numbers = [1, 3, 5, 7, 9, 11]

In [34]:
numbers = [1, 3, 5, 7, 9, 11]
for i in numbers:
    if i == 7:
        print("Found!")
        break
    else:
        print(i)

1
3
5
Found!