### 1 How many characters are in the string "Python3"?

In [4]:
x = "Python3"

In [6]:
len(x)

7

In [12]:
#there are 7 chracters in string "python3"

### 2 If text = " Hello World ", what does len(text) return?

In [16]:
text = " Hello World "

In [200]:
print(len(text))

13

In [20]:
#it returns length of string text

### 3 Count the length of " " (a space character). Is it 0?

In [23]:
space=" "
print(len(space))

1

In [25]:
# no,length of the  " " a space character is 1 not zero

### 4 Convert "Good Morning" to uppercase. What do you get?

In [28]:
x="Good Morning"

In [32]:
print(x.upper())

GOOD MORNING

In [34]:
# string Good Morning is converted to "GOOD MORNING" , where upper letters remain same and small case letters are converted to upper case letters.

### 5 What is "HELLO".lower()?

In [41]:
"HELLO".lower()

'hello'

In [43]:
# string "HELLO" is converted to lower case letters.

### 6 If msg = "PyThOn", what will msg.upper() and msg.lower() return?

In [46]:
msg = "PyThOn"

In [48]:
msg.upper()

'PYTHON'

In [50]:
msg.lower()

'python'

### 7 What happens if you use .upper() on "123abc!"?

In [53]:
x = "123abc!"

In [55]:
x.upper()

'123ABC!'

### 8 What does "hello world".capitalize() return?

In [58]:
print("hello world".capitalize())

Hello world

### 9 Convert "hello world from python" to title case

In [63]:
x = "hello world from python"

In [65]:
x.title()

'Hello World From Python'

### 10 Will "JAVA".capitalize() return "Java" or "JAVA"?

In [68]:
"JAVA".capitalize()

'Java'

In [70]:
#it returns "Java"

### 11 What’s the difference between "hello world".title() and "hello world".capitalize()?

In [73]:
"hello world".title()

'Hello World'

In [75]:
"hello world".capitalize()

'Hello world'

In [77]:
# title  will covert all the first characters of a string to upper case whereas capitalize function will only convert first letter of string into upper case.

### 12 Count how many 'o' are in "hello, world!".

In [80]:
x = "hello, world!"

In [82]:
x.count('o')

2

### 13 Given quote = "Practice makes perfect", how many times does 'p' appear?

In [93]:
quote = "Practice makes perfect"

In [95]:
quote.count('p')

1

### 14 What is "Mississippi".count('s')?

In [102]:
"Mississippi".count('s')

4

### 15 What does "banana".count("na") return?

In [105]:
"banana".count("na")

2

In [107]:
# it gives the count for substring "na" has repeated in the main string

### 16 What is the position of 'e' in "elephant" using .find()?

In [112]:
x = "elephant"

In [114]:
x.find('e')

0

In [116]:
#index position of "e" is 0.

### 17 Use .find() to locate 'z' in "puzzle" — what index is returned?

In [119]:
x = "puzzle"

In [132]:
x.find('z')

-1

In [134]:
# index of 'z' in the puzzle is 2

### 18 What happens if .find() doesn’t find the character?

In [137]:
x = "hello"
x.find('z')

-1

In [140]:
# it return -1 as the index number.

### 19 How does index() behave differently from find() when the item isn’t found?

In [143]:
x = "innomatics"

In [145]:
x.find('y')

-1

In [147]:
x.index('y')

ValueError: substring not found

In [149]:
# find gives index number as -1 whereas index() gives valueError as substring not found

### 20 What does "hello".index("e") return?

In [152]:
"hello".index("e")

1

### 21 Combine "Hello" and "World" into "HelloWorld".

In [155]:
x1="Hello"
x2="World"

In [157]:
print(x1+x2)

HelloWorld

### 22 Use + to add "Hi, " and "Alice" together.

In [160]:
x1= "Hi, "
x2 = "Alice"

In [162]:
x1+x2

'Hi, Alice'

### 23 What is the result of "Age: " + str(25)?

In [165]:
"Age: " + str(25)

'Age: 25'

### 24 Can you concatenate "abc" and "123" to form "abc123"?

In [168]:
#yes we can concatenate two strings using + operator.

In [170]:
x1="abc"

In [172]:
x2 = "123"

In [174]:
x1+x2

'abc123'

### 25 Replace "dog" with "cat" in "The dog barks.".

In [177]:
x = "The dog barks."

In [187]:
x.replace('dog','cat')

'The cat barks.'

### 26 Given msg = "rain rain go away", replace 'rain' with 'sun'.

In [190]:
msg = "rain rain go away"

In [192]:
msg.replace('rain','sun')

'sun sun go away'

### 27 What happens when you replace 'a' with '@' in "banana"?

In [195]:
x= "banana"
x.replace('a','@')

'b@n@n@'

### 28 How do you replace spaces with hyphens in "join the party"?

In [198]:
x = "join the party"
x.replace(" ","-")

'join-the-party'

### 29 What does " hello ".strip() return

In [203]:
" hello ".strip()

'hello'

In [205]:
# by default strip() will remove the spaces from a string.

### 30 Remove # from both ends of "###Welcome###" using strip().

In [208]:
x = "###Welcome###"

In [212]:
x.strip('#')

'Welcome'

### 31 Does strip() remove characters from the middle of a string?

In [215]:
#no it does  not remove charaters ferom middle .It only removes the right and left end characters of the string.

In [217]:
x="***hi***hello***"
x.strip("*")

'hi***hello'

### 32 How do you remove only the trailing spaces from "Hello "?

In [220]:
#by using rstrip function.

In [222]:
x="Hello "

In [226]:
x.rstrip()

'Hello'

### 33 Use .format() to insert "Alice" into "Hello, {}!".

In [230]:
x = "Alice"

In [232]:
"Hello, {}!".format(x)

'Hello, Alice!'

### 34 What is "{} scored {} marks".format("John", 95)?

In [235]:
"{} scored {} marks".format("John", 95)

'John scored 95 marks'

### 35 Fill in two blanks in "{} is {} years old" with "Bob" and 30.

In [238]:
"{} is {} years old".format("bob",30)

'bob is 30 years old'

### 36 Can you use numbers with placeholders? Try "{}+{}={}".format(2, 3, 5).

In [241]:
"{}+{}={}".format(2, 3, 5)

'2+3=5'

In [243]:
#Yes, you we can use numbers with placeholders in the str.format() method.

### 37 What does "apple,banana,grape".split(",") return?

In [246]:
print("apple,banana,grape".split(","))

['apple', 'banana', 'grape']

In [248]:
#it splits the string based on "," and returns result as list.

### 38 How many parts do you get from "one two three".split()?

In [254]:
# we get three parts ,because the split() will divide the string based on space .

In [273]:
"one two three".split()

['one', 'two', 'three']

### 39 Use split("-") on "2025-05-16". What do you get?

In [259]:
x = "2025-05-16"

In [261]:
x.split("-")

['2025', '05', '16']

### 40 Can you split "hello" using a space as a separator?

In [264]:
x= "hello"

In [266]:
x.split(" ")

['hello']

In [268]:
#no we cannot separate "hello" using space as a separator.

### 41 Take " python " and return "PYTHON" with whitespace removed.

In [280]:
x = " python "

In [282]:
x.upper().strip()

'PYTHON'

In [286]:
x.strip().upper() #second possible method

'PYTHON'

### 42 Format and print "Score: 100" using .format().

In [291]:
 "Score: {}".format(100)

'Score: 100'

### 43 Convert "python is fun" to "Python Is Fun" using any method.

In [294]:
x = "python is fun"
x.title()

'Python Is Fun'

### 44 Replace all 'l' in "hello world" with '*'.

In [297]:
x = "hello world"

In [299]:
x.replace("l","*")

'he**o wor*d'

### 45 How do you get just the word "World" from "Hello World"?

In [302]:
x = "Hello World"

In [308]:
print(x[6:])

World

In [311]:
# another method

In [313]:
x.split()[1]

'World'