# 1  Create a list of squares from 1 to 10 using list comprehension.
 Expected Output: [1, 4, 9, ..., 100]

In [92]:
l = [1,2,3,4,5,6,7,8,9,10]
lst = [i**2 for i in l]
print(lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# 2  From a list of numbers, create a new list containing only even numbers using list comprehension.
 nums = [1, 2, 3, 4, 5, 6] → [2, 4, 6]

In [94]:
nums = [1, 2, 3, 4, 5, 6]
lst = [i for i in nums if i % 2 == 0]
print(lst)

[2, 4, 6]

# 3  Convert all words in a list to uppercase using list comprehension.
 words = ['hello', 'world'] → ['HELLO', 'WORLD']

In [96]:
words = ['hello', 'world']
lst = [i.upper() for i in words]
print(lst)

['HELLO', 'WORLD']

# 4  From a list of strings, create a list containing only those with length > 3.
 words = ['hi', 'apple', 'dog', 'banana'] → ['apple', 'banana']

In [98]:
 words = ['hi', 'apple', 'dog', 'banana']
lst = [i for i in words if len(i)>3]
print(lst)

['apple', 'banana']

# 5  Generate a list of tuples (number, square) for numbers from 1 to 10 using list comprehension.
 Output: [(1, 1), (2, 4), ..., (10, 100)]

In [100]:
l = [1,2,3,4,5,6,7,8,9,10]
lst = [(i,i**2) for i in l]
print(lst)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

# 6  Create a list of all vowels in a given string using list comprehension.
 "beautiful" → ['e', 'a', 'u', 'i', 'u']

In [102]:
string = "beautiful"
lst = [i for i in string if i=='a'or i == 'e' or i== 'i' or i == '0' or i== 'u']
print(lst)

['e', 'a', 'u', 'i', 'u']

# 7  Flatten a nested list of 2D shape using list comprehension.
 [[1, 2], [3, 4], [5]] → [1, 2, 3, 4, 5]

In [104]:
l = [[1, 2], [3, 4], [5]] 
lst = [ sub for i in l for sub in i]
lst

[1, 2, 3, 4, 5]

# 8  Create a list of numbers from 1 to 100 which are divisible by both 3 and 5 using list comprehension.

In [106]:
lst = [i for i in range(1,101) if i % 3 == 0 and i % 5 == 0] 
print(lst)

[15, 30, 45, 60, 75, 90]

# 9  Given a list words = ["data", "science", "ai", "python", "ml", "statistics"], use a list comprehension to extract words with more than 4 letters.

In [108]:
words = ["data", "science", "ai", "python", "ml", "statistics"]
lst = [i for i in words if len(i) > 4]
print(lst)

['science', 'python', 'statistics']

# 10  Given a string text = "list comprehension is powerful", use list comprehension to create a list of characters where vowels are replaced by '*'.

In [110]:
text = "list comprehension is powerful"
vowels ="aeiou"
lst = ["*" if i in vowels else i for i in text]
lst

['l',
 '*',
 's',
 't',
 ' ',
 'c',
 '*',
 'm',
 'p',
 'r',
 '*',
 'h',
 '*',
 'n',
 's',
 '*',
 '*',
 'n',
 ' ',
 '*',
 's',
 ' ',
 'p',
 '*',
 'w',
 '*',
 'r',
 'f',
 '*',
 'l']