# **TUPLES**

### 1  Create a tuple of five colors and print the second and fourth items.

In [25]:
tup1 = ('black','teal','white','red','yellow')

In [35]:
print(tup1[1])

teal

In [39]:
print(tup1[3])

red

 ### 2  Given a tuple: t = (10, 20, 30, 40, 50), 
Print the length of the tuple and the last item using negative indexing

In [42]:
t = (10, 20, 30, 40, 50)
print(t)

(10, 20, 30, 40, 50)

In [44]:
print(len(t))

5

In [46]:
t[-1]

50

### 3 Create a tuple with a single item 100. Print its type.

In [63]:
t =(100,)

In [65]:
print(type(t))

<class 'tuple'>

### 4  Convert the following list into a tuple: ['apple', 'banana', 'cherry']

In [68]:
lst = ['apple', 'banana', 'cherry']

In [70]:
tup = tuple(lst)

In [72]:
print(lst)
print(tup)

['apple', 'banana', 'cherry']
('apple', 'banana', 'cherry')

### 5  Check whether the element 'python' exists in the tuple ('java', 'python', 'c').

In [77]:
tup=('java', 'python', 'c')

In [79]:
print(tup)

('java', 'python', 'c')

In [81]:
print('python'  in tup)

True

### 6   Slice the tuple t = (1, 2, 3, 4, 5, 6) to get:
First 3 elements
Last 2 elements

In [86]:
 t = (1, 2, 3, 4, 5, 6)

In [88]:
t[:3]

(1, 2, 3)

In [90]:
t[4:]

(5, 6)

## Tuple Operations & Immutability

### 7 Concatenate two tuples: a = (1, 2) and b = (3, 4). Store it in a new tuple.

In [95]:
a = (1, 2)
b = (3, 4)

In [97]:
c=a+b

In [99]:
print(c)

(1, 2, 3, 4)

### 8  Try to change the first element of the tuple (5, 6, 7) to 100. What happens?

In [102]:
tup =  (5, 6, 7)

In [104]:
tup[0] = 100

TypeError: 'tuple' object does not support item assignment

In [107]:
# Python raises a TypeError because tuples do not allow modification of their elements after creation

### 9  Repeat the tuple (1, 2) 3 times and print the result.

In [110]:
t = (1, 2)
repeated_tuple = t * 3
print(repeated_tuple)

(1, 2, 1, 2, 1, 2)

### 10  Unpack the tuple x = (10, 20, 30) into three variables and print them.

In [124]:
x = (10, 20, 30)

In [128]:
x1,x2,x3 = x

In [130]:
print(x1)

10

In [132]:
print(x2)

20

In [134]:
print(x3)

30

### 11   Use a tuple to return multiple values from a function that takes two numbers and returns (sum, product).

In [3]:
def calculate_sum_and_product(a, b):
    return (a + b, a * b)
result = calculate_sum_and_product(4, 5)
print("Sum:", result[0])
print("Product:", result[1])

Sum: 9
Product: 20

## Tuple Functions and Built-ins

### 13  Use count() to find how many times 3 appears in the tuple (1, 2, 3, 3, 3, 4).

In [15]:
tup = (1, 2, 3, 3, 3, 4) 
print(type(tup))
print(tup)

<class 'tuple'>
(1, 2, 3, 3, 3, 4)

In [11]:
print(tup.count(3))

3

### 14 Use index() to find the position of 'cat' in ('dog', 'cat', 'mouse').

In [18]:
tup = ('dog', 'cat', 'mouse')

In [20]:
tup.index('cat')

1

### 15  Convert the string "hello" into a tuple.

In [23]:
s1 = "hello"
s2 = tuple(s1)

In [25]:
print(s1)
print(s2)

hello
('h', 'e', 'l', 'l', 'o')

###  16   Write a program to find the maximum and minimum values in a tuple of numbers.

In [28]:
tup =(1,2,3,5,0,3,6,22,1,202)

In [34]:
print("minimum:",min(tup))
print("maximum",max(tup))

minimum: 0
maximum 202