# SETS

### 1  Create a set of 5 fruits and print it.

In [4]:
SET = {'orange','apple','grape','guava','cherry'}

In [6]:
print(SET)

{'apple', 'guava', 'orange', 'cherry', 'grape'}

### 2  Add "mango" to a set s = {'apple', 'banana'}.

In [9]:
s = {'apple','banana'}

In [11]:
print(s)

{'banana', 'apple'}

In [13]:
s.add('mango')

In [15]:
print(s)

{'banana', 'apple', 'mango'}

### 3  Try adding 'apple' again to the above set. What happens?

In [18]:
print(s)

{'banana', 'apple', 'mango'}

In [20]:
s.add('apple')

In [22]:
print(s)

{'banana', 'apple', 'mango'}

In [24]:
# adding  apple again to the sets does not show any error .since set has only unique elements , it wont get displayed twice,
# apple gets printed only once.

### 4 Remove 'banana' using remove() and discard() – what’s the difference?

In [37]:
S=s.copy()

In [39]:
print(s)

{'banana', 'apple', 'mango'}

In [41]:
s.remove('banana')

In [43]:
print(s)

{'apple', 'mango'}

In [45]:
s.discard('banana')

In [47]:
print(s)

{'apple', 'mango'}

 remove() and discard() has same function but removing  an element which is not present in set 
by using remove()  shows error , where as discard() wont show error.

### 5 Check if 'apple' exists in the set.

In [52]:
s

{'apple', 'mango'}

In [62]:
print('apple' in s)

True

### 6  Create two sets and perform:

Union

Intersection

Difference

In [66]:
s1 = {1,8,4,8,2,9,10}
s2 = {1,4,6,2,3,8,11,12,14}

In [68]:
print(s1)
print(s2)

{1, 2, 4, 8, 9, 10}
{1, 2, 3, 4, 6, 8, 11, 12, 14}

In [70]:
print(s1.union(s2))

{1, 2, 3, 4, 6, 8, 9, 10, 11, 12, 14}

In [72]:
print(s1.intersection(s2))

{8, 1, 2, 4}

In [74]:
print(s1.difference(s2))

{9, 10}

In [76]:
print(s2.difference(s1))

{3, 6, 11, 12, 14}

### 7 Clear all elements from a set.

In [79]:
s1

{1, 2, 4, 8, 9, 10}

In [81]:
s1.clear()

In [83]:
s1

set()

### 8 Use a loop to print all items in a set.

In [86]:
s2

{1, 2, 3, 4, 6, 8, 11, 12, 14}

In [96]:
for i in s2:
    print(i,end=" ")

1 2 3 4 6 8 11 12 14

### 9  Convert a list with duplicates to a set to remove duplicates.

In [99]:
list1 = [1,2,3,1,2,3,4,5,6]
print(list1)

[1, 2, 3, 1, 2, 3, 4, 5, 6]

In [101]:
s=set(list1)

In [103]:
s

{1, 2, 3, 4, 5, 6}

In [105]:
# all duplicates from list1 are removed in set s

### 10  Find the length of the set.

In [108]:
s ={1,2,3,4,5,5,6,2,3,9}

In [110]:
print(s)

{1, 2, 3, 4, 5, 6, 9}

In [112]:
print(len(s))

7