### Q1. Create a list of your five favorite fruits.
 Add a new fruit to the end of the list using the appropriate method.

In [13]:
fruits = ['mango','banana','grape','oranges','guava']

In [15]:
print(fruits)

['mango', 'banana', 'grape', 'oranges', 'guava']

In [17]:
fruits.append('apple')

In [19]:
print(fruits)

['mango', 'banana', 'grape', 'oranges', 'guava', 'apple']

### Q2. Create a list of numbers from 1 to 5.
 Insert the number 10 at the second position.

In [22]:
List = [1,2,3,4,5]

In [24]:
print(List)

[1, 2, 3, 4, 5]

In [26]:
List.insert(1,10)

In [28]:
print(List)

[1, 10, 2, 3, 4, 5]

### Q3. Create a list with duplicate elements.
 Use a method to find how many times a particular element appears.

In [31]:
lst = [1,2,3,2,4,6,2,4,9,7]
lst.count(2)

3

In [35]:
lst.count(7)

1

### Q4. Remove the third item from a list of 6 elements using a list method.

In [38]:
lst = [10,30,50,80,100,140]

In [46]:
del lst[2]

In [48]:
lst

[10, 30, 80, 100, 140]

### Q5. Create a list of your three favorite subjects.
 Replace the second subject with "Mathematics".

In [59]:
subject = ['social','telugu','history']

In [65]:
subject[1] = 'Mathematics'

In [67]:
print(subject)

['social', 'Mathematics', 'history']

### Q6. Create a list and remove the last item using the appropriate method

In [70]:
lst = [1,5,8,0,9,7]

In [72]:
lst.pop()

7

In [74]:
print(lst)

[1, 5, 8, 0, 9]

### Q7. Create a list of countries and add a new country at index 1.

In [77]:
country = ['india','srilanka','japan','korea']

In [79]:
country.insert(1,'u.k')

In [81]:
print(country)

['india', 'u.k', 'srilanka', 'japan', 'korea']

### Q8. Use a list method to find the position of an element in the list.

In [86]:
lst =[100,200,300,400,500,600]

In [90]:
print(lst[2])

300

### Q9. Create a list and check whether an item "apple" exists in it or not (you can use the in keyword).

In [93]:
lst=['grape','maggi','sweets','chocolate','apple']

In [95]:
print("apple" in lst)

True

### Q10. Make a list and use pop() to remove an item.
 Store the removed item in a variable and print it.

In [98]:
lst = [100,200,300,4000,500]

In [100]:
a = lst.pop()

In [102]:
print(lst)

[100, 200, 300, 4000]

In [104]:
print("removed item",a)

removed item 500

# List Methods
## Insertions and Additions

### Q1. Create an empty list and add five elements to it using append().

In [139]:
lst = []

In [141]:
lst.append(12)

In [143]:
lst.append(22)

In [145]:
lst.append(32)

In [147]:
lst.append(42)

In [149]:
lst.append(52)

In [151]:
print(lst)

[12, 22, 32, 42, 52]

### Q2. Create a list of colors and use insert() to add "purple" at index 2.

In [154]:
colors = ['red','yellow','pink','black','white']

In [156]:
colors.insert(2,'purple')

In [158]:
print(colors)

['red', 'yellow', 'purple', 'pink', 'black', 'white']

### Q3. Start with a list of two numbers. Append two more numbers. Then insert a number at the beginning.

In [161]:
lst = [33,65]

In [165]:
lst.append(31)

In [167]:
lst.append(89)

In [169]:
lst.insert(0,56)

In [171]:
print(lst)

[56, 33, 65, 31, 89]

## Removals

### Q4. Create a list of 6 fruits. Remove one by name using remove().

In [176]:
fruits = ['mango','banana','grape','oranges','guava','apple']

In [180]:
fruits.remove('oranges')

In [182]:
print(fruits)

['mango', 'banana', 'grape', 'guava', 'apple']

### Q5. Use pop() to remove the last element of a list and print the removed value.

In [215]:
lst = [33,56,89,11,8,22,84]

In [217]:
removed_element = lst.pop()

In [219]:
print(removed_element)

84

### Q6. Use pop(index) to remove the third item in a list of countries.

In [222]:
countries = ['india','srilanka','japan','korea']

In [224]:
countries.pop(2)

'japan'

### Q7. Try removing an element that doesn’t exist from a list using remove(). What happens?

In [227]:
lst = [33,56,89,11,8,22,84]

In [229]:
lst.remove(80)

ValueError: list.remove(x): x not in list

In [231]:
#it shows an error if the element is not present in the list

## Finding Elements

### Q8. Create a list with repeated numbers. Use count() to find how many times 3 appears.

In [235]:
lst = [2,5,7,3,4,8,1,9,3,0,2,0,3,6,3]

In [241]:
lst.count(3)

4

### Q9. Create a list of animal names and use index() to find the position of "cat".

In [244]:
animals = ['cow','cat','lion','hippo']

In [246]:
animals.index('cat')

1

### Q10. What happens if you use index() for a value not in the list? Try it and note the result.

In [249]:
animals = ['cow','cat','lion','hippo']

In [251]:
animals.index('cats')

ValueError: 'cats' is not in list

In [253]:
# using index() for a value not in the list will result an error .

## Sorting and Reversing

### Q11. Create a list of numbers in random order. Use sort() to sort them in ascending order.

In [278]:
lst1 = [5,67,22,95,78,111,90,23,64]

In [280]:
print(lst1)

[5, 67, 22, 95, 78, 111, 90, 23, 64]

In [295]:
lst1.sort()

In [297]:
print(lst1)

[5, 22, 23, 64, 67, 78, 90, 95, 111]

### Q12. Create a list of names and sort them alphabetically.

In [300]:
lst = ['harshitha','sam','sri','bhavya']

In [302]:
lst.sort()

In [304]:
lst

['bhavya', 'harshitha', 'sam', 'sri']

### Q13. Sort a list in descending order using sort(reverse=True).

In [318]:
lst = [20,33,120,3,44,1,66,89,23]

In [320]:
lst.sort(reverse=True)

In [322]:
print(lst)

[120, 89, 66, 44, 33, 23, 20, 3, 1]

### Q14. Use reverse() to flip the order of any list.

In [347]:
lst = [20,33,120,3,44,1,66,89,23]

In [349]:
lst.sort()

In [351]:
print(lst)

[1, 3, 20, 23, 33, 44, 66, 89, 120]

In [353]:
lst.reverse()

In [355]:
print(lst)

[120, 89, 66, 44, 33, 23, 20, 3, 1]

## Copying and Clearing

### Q15. Create a list and make a copy using copy(). Change something in the copy. Show that the original list is unchanged.

In [361]:
lst1 = [100,200,300,4000,500]

In [365]:
lst2 = lst1.copy()

In [367]:
print(lst2)

[100, 200, 300, 4000, 500]

In [369]:
lst2[2]=22

In [371]:
lst2

[100, 200, 22, 4000, 500]

In [373]:
lst1

[100, 200, 300, 4000, 500]

### Q16. Create a list with some elements. Use clear() and show that it becomes empty.

In [376]:
lst = [100,200,300,4000,500]

In [378]:
lst.clear()

In [380]:
lst

[]

## Mix of Operations

### Q17. Create a list of 5 numbers. Insert a number at index 2, then remove the first number, then append a new number.Print after each step.

In [385]:
lst = [2,90,45,64,63]

In [387]:
print(lst)

[2, 90, 45, 64, 63]

In [389]:
lst.insert(2,100)

In [391]:
print(lst)

[2, 90, 100, 45, 64, 63]

In [395]:
lst.pop(0)

2

In [397]:
print(lst)

[90, 100, 45, 64, 63]

In [399]:
lst.append(24)

In [401]:
print(lst)

[90, 100, 45, 64, 63, 24]

### Q18. Create a list of 4 friends' names.Sort the list, reverse it, then remove the second name using pop().

In [405]:
friends = ['harshitha','bhavya','akanksha','lucky']

In [407]:
friends.sort()

In [409]:
print(friends)

['akanksha', 'bhavya', 'harshitha', 'lucky']

In [411]:
friends.reverse()

In [413]:
print(friends)

['lucky', 'harshitha', 'bhavya', 'akanksha']

In [415]:
friends.pop(1)

'harshitha'

In [417]:
print(friends)

['lucky', 'bhavya', 'akanksha']

### Q19. Make a list with 3 elements. Add one element using append(), one using insert(), then remove the last using pop().

In [428]:
lst = [20,43,12]

In [430]:
print(lst)

[20, 43, 12]

In [432]:
lst.append(90)

In [434]:
print(lst)

[20, 43, 12, 90]

In [438]:
lst.insert(1,56)

In [440]:
print(lst)

[20, 56, 43, 12, 90]

In [442]:
lst.pop()

90

In [444]:
lst

[20, 56, 43, 12]

### Q20. Copy a list of places you want to visit. Clear the copied list. Show both lists after each step to prove they are independent.

In [463]:
places = ['gokarna','tirupathi','srilanka','kedarnath']

In [465]:
print(places)

['gokarna', 'tirupathi', 'srilanka', 'kedarnath']

In [467]:
copy= places.copy()

In [469]:
print(copy)

['gokarna', 'tirupathi', 'srilanka', 'kedarnath']

In [471]:
copy.clear()

In [473]:
print(copy)

[]

In [475]:
print(places)
print(copy)

['gokarna', 'tirupathi', 'srilanka', 'kedarnath']
[]