## Task 2 - Variable,Keyword and Identifier

#### Q1  Create a variable name and assign your name to it.

In [41]:
Name="Harshitha Yaramasu"
print(Name)

Harshitha Yaramasu

#### Q2   Assign the number 25 to a variable called age.

In [43]:
age=25
print(age)

25

#### Q3 Change the value of a variable x from 10 to 20.

In [45]:
x=10
print(x)
x=20
print("after changing x value")
print(x)

10
after changing x value
20

#### Q4 Print the value of a variable language assigned to "Python".

In [47]:
language= "Python" 
print(language)

Python

#### Q5 Create a variable height and assign it a decimal value.

In [49]:
height=5.3
print(height)

5.3

#### Q6 Assign multiple values to a, b, and c in a single line.

In [51]:
a,b,c=10,20,30
print(a,b,c)

10 20 30

#### Q7 Declare a variable is_coding_fun and assign it a Boolean value.

In [53]:
is_coding_fun=True
print(is_coding_fun)

True

#### Q8 Swap values of two variables x and y.

In [55]:
x=10
y=20
print("x:",x)
print("y:",y)
x,y=y,x
print("after swaping variables")
print("x:",x)
print("y:",y)

x: 10
y: 20
after swaping variables
x: 20
y: 10

#### Q9 Assign a string to a variable, then reassign an integer to the same variable.

In [57]:
age="twenty two"
print(age)
age=22
print(age)

twenty two
22

#### Q10 Create a variable z and assign it the sum of two other variables.

In [59]:
a=10
b=20
z=a+b
print("z:",z)

z: 30

#### Q11 Create a variable with an underscore in its name (e.g., first_name).

In [61]:
user_name="harshitha"
print(user_name)

harshitha

#### Q12 Try naming a variable starting with a number and observe the result.

In [63]:
1name="hello"
print(1name)

SyntaxError: invalid decimal literal (4095684495.py, line 1)

#### Q13  Use a mix of uppercase and lowercase letters in a variable name.

In [ ]:
UserName="harshitha"
print(UserName)

#### Q14 Create two variables score and Score with different values.

In [ ]:
score=120
Score=140
print("score:",score)
print("Score:",Score)

#### Q15  Try using a special character (e.g., @) in a variable name.

In [2]:

A&B="ab"
print(A&B)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2732268441.py, line 1)

#### Q16 Try using a Python keyword as a variable name (e.g., if = 5).

In [4]:
True=1
False=0
print(True,False)

SyntaxError: cannot assign to True (2686243407.py, line 1)

#### Q17  Write code that checks if "for" is a Python keyword.

In [ ]:
import keyword
print("for" in keyword.kwlist)

#### Q18 Import the keyword module and print the full list of keywords.

In [ ]:
import keyword
print(keyword.kwlist)

#### Q19 Write a comment explaining why class cannot be used as a variable.

In [ ]:
# The word 'class' is a built-in keyword in Python, used to define new classes.
# Since Python uses 'class' for this specific purpose, it cannot be redefined as a variable name.
# Attempting to use 'class' as a variable would confuse the interpreter and result in a syntax error.

# INTERVIEW QUESTIONS

- 1  What will be the output of the following code? Explain.

     class = "MyClass"

     print(class)

In [70]:
class="MyClass"
print(class)

SyntaxError: invalid syntax (1451924984.py, line 1)

##### explanation:
 The word 'class' is a built-in keyword in Python, used to define new classes.
 Since Python uses 'class' for this specific purpose, it cannot be redefined as a variable name.
 Attempting to use 'class' as a variable by assigning "MyClass" would confuse the interpreter and result in a syntax error.

- 2. What is the output and why?
     
          _ = "underscore"

          print(_)

In [80]:
_ = "underscore"
print(_)

underscore

 
###### In Python, _ is a valid variable name. It's often used for temporary or insignificant values, but you can assign and print from it just like any other variable.
So, _ = "underscore" assigns the string "underscore" to the variable _.
Then print(_) prints that value.