# **DICTIONARIES**

### 1  Create a dictionary of 3 students and their marks.

In [61]:
students = ['harshitha','sam','sri']
marks = [70,79,98]
d1 =dict(zip(students,marks))

In [63]:
d1

{'harshitha': 70, 'sam': 79, 'sri': 98}

### 2   Access marks of a student using their name

In [66]:
print(d1)

{'harshitha': 70, 'sam': 79, 'sri': 98}

In [68]:
d1.get('harshitha')

70

In [70]:
d1.get('sam')

79

In [72]:
d1.get('sri')

98

### 3  Add a new student to the dictionary.

In [75]:
print(d1)

{'harshitha': 70, 'sam': 79, 'sri': 98}

In [77]:
d1['ram charan'] = 99

In [79]:
print(d1)

{'harshitha': 70, 'sam': 79, 'sri': 98, 'ram charan': 99}

### 4 Update marks of an existing student.

In [82]:
print(d1)

{'harshitha': 70, 'sam': 79, 'sri': 98, 'ram charan': 99}

In [84]:
d1.update({'harshitha':65})

In [86]:
print(d1)

{'harshitha': 65, 'sam': 79, 'sri': 98, 'ram charan': 99}

### 5  Remove a student using pop().

In [91]:
print(d1)

{'harshitha': 65, 'sam': 79, 'sri': 98, 'ram charan': 99}

In [97]:
d1.pop('sri')

98

In [99]:
print(d1)

{'harshitha': 65, 'sam': 79, 'ram charan': 99}

### 6  Use get() to safely access a value.

In [102]:
print(d1)

{'harshitha': 65, 'sam': 79, 'ram charan': 99}

In [104]:
d1.get('harshitha')

65

### 7  Create a dictionary and get all the items using .items(), check the type of it.

In [115]:
dictionary1 ={1:'ram',2:'sita',3:'krishna',4:'radha',5:'surya'}

In [117]:
print(dictionary1)

{1: 'ram', 2: 'sita', 3: 'krishna', 4: 'radha', 5: 'surya'}

In [121]:
dictionary1.items()

dict_items([(1, 'ram'), (2, 'sita'), (3, 'krishna'), (4, 'radha'), (5, 'surya')])

In [123]:
print(type(dictionary1))

<class 'dict'>

### 8  Get all keys using .keys() and values using .values().

In [126]:
dictionary1

{1: 'ram', 2: 'sita', 3: 'krishna', 4: 'radha', 5: 'surya'}

In [130]:
print(dictionary1.keys())

dict_keys([1, 2, 3, 4, 5])

In [136]:
print(dictionary1.values())

dict_values(['ram', 'sita', 'krishna', 'radha', 'surya'])

### 9  Check if a student exists in the dictionary.

In [141]:
print(d1)

{'harshitha': 65, 'sam': 79, 'ram charan': 99}

In [143]:
print('harshitha' in d1)

True

In [145]:
print('sam' in d1)

True

### 10  Create a dictionary d with 4 key-value pairs.
Convert the dictionary using the following methods one by one:
list(d)
list(d.keys())
list(d.values())
list(d.items())
   b)Observe the output of each and note the differences.

In [163]:
d = {1:'apple',2:'orange',3:'grape',4:'guava'}

In [165]:
print(d)

{1: 'apple', 2: 'orange', 3: 'grape', 4: 'guava'}

In [167]:
list(d)

[1, 2, 3, 4]

In [169]:
d

{1: 'apple', 2: 'orange', 3: 'grape', 4: 'guava'}

In [171]:
list(d.keys())

[1, 2, 3, 4]

In [173]:
list(d.values())

['apple', 'orange', 'grape', 'guava']

In [175]:
list(d.items())

[(1, 'apple'), (2, 'orange'), (3, 'grape'), (4, 'guava')]

In [ ]:
#  list(d) : This returns a list of the keys only from the dictionary.
#  list(d.keys()) :This also returns a list of keys, just like list(d), but it's more explicit and clear in intent.
#  list(d.values()) :  This returns a list of the values of the dictionary.
#  list(d.items()) : This returns a list of (key, value) tuples, useful when you want both elements.